.contentWrap {
    z-index: 10;
    margin-top: 26px;
    margin-left: 50px;
    width: 440px;
    height: 60px;
}

.alertMsgWrap {
    width: 90%;
    padding: 16px;
    margin-top: 8px;
    background-color: #161719;
    opacity: 80%;
    border: 1px solid #929292;
    font-size: smaller;
    color: #FFFFFF;
}

.inputWrap {
    width: 90%;
    /* display: flex; */
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
    border: 1px solid #cd5c5c;
}

.input::placeholder {
    color: #dadada;
}

.searchButton {
    position: relative;
    bottom: 40px;
    right: 15px;
    display: flex;
    border: none;
    outline: none;
    width: 10%;
    font-size: larger;
    float: right;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.adminBoundaryButton {
    /* border: none; */
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

.valueDropdown {
    margin-right: 3px;
    border: none;
    border-radius: 3px;
    background-color: white;
    color: #444444;
    outline: none;
    cursor: pointer;
}

.iconWrapper {
    background-color: skyblue;
}
.iconWrapper::after {
    content:""; 
    position: absolute; 
    right: 200px; 
    top: 100px; 
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent; 
    border-top: 30px solid skyblue;
}


.iw_inner {
    max-width: 300px;
    max-height: 500px;
    padding-left: 10px;
}
.addresses {
    font-size: 13px;
}
