.myPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
  
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #212121;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.myPageTitleWrap {
    margin: 87px 0 0 0;
    font-size: 26px;
    font-weight: 700;
    color: #fffafa;
}

.myPageContentWrap {
    margin-top: 26px;
    flex: 1;
    color: #fffafa;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    width: 100%;
    height: 70px;
    display: flex; 
    justify-content: center; 
}

.myImage {
    width: 60px;
    height: 60px; 
    border-radius: 70%;
    overflow: hidden;
}

.profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myName {
    margin: 7px 20px 0 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.editButton {
    position: relative;
    height: 20px;
    top: 17px;
    font-size: 20px;
    color: #fffafa;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.editButton:hover {
    color: #cd5c5c;
}

.editProfileWrap {
    position: relative;
    right: 109px;
}


.myActivities {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 100px;
}

.activity {
    position: relative; /* 부모로부터 상대적인 위치 지정 */
    width: 33%;
    height: 85%;
    margin-right: 8px;
    text-align: center;
    background-color: rgba(205, 92, 92, 0.3);
    color: #fffafa;
    border-radius: 15px;
}

.valueTitle {
    position: absolute; /* 절대 위치 지정 */
    bottom: 10px; /* 아래로부터의 거리 조정 */
    left: 0; /* 왼쪽 정렬 */
    right: 0; /* 오른쪽 정렬 */
    margin: auto; /* 가운데 정렬 */
    font-size: 13px;
}

.value {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 700;
    color: #EAE8E5;
}

.reportValue {
    margin-top: 5px;
    font-size: 40px;
    font-weight: 700;
    color: #EAE8E5;
}
.reportValue:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.logoutButton {
    width: 68%;
    height: 48px;
    /* margin-top: 230px; */
    margin-top: 66px;
    border: none;
    font-weight: 700;
    background-color: #cd5c5c;
    color: #fffafa;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}