.registerModal {
    width: 100%;
    max-width: 300px;
    height: 45%;
    padding: 0 10px 0 20px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.registerContentWrap {
    margin-top: 10px;
    flex: 1;
}

.infoTitle {
    margin:10px 10px 10px 0;
    font-size: 12px;
    font-weight: 700;
    color: #212121;
}

.infoContent {
    width: 90%;
    height: 25px;
    text-align: center;
    background-color: #EAE8E5;
    border: none;
    color: #554647;
    border-radius: 8px;
    padding: 8px 10px; 
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
}

.infoTitle a {
    font-size: 10px;
    font-weight: 200;
    padding-left: 10px;
    color: #757575;
}

.imageContainer {
    width: 90%;
    height: 25px;
    padding: 8px 10px; 
    background-color: #EAE8E5;
    border: none;
    border-radius: 8px;
}

.imageInput {
    width: 100%;
    color: #554647;
    outline: none;
    border: none;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
}

.registerStoreButton {
    margin: 10px 0;
    height: 28px;
    border: none;
    background-color: #cd5c5c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.registerStoreButton:disabled {
    background-color: #dadada;
    color: white;
}