.chatPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
  
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #212121;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.titleWrap {
    margin: 87px 0 0 0;
    font-size: 26px;
    font-weight: 700;
    color: #fffafa;
}

.registerContentWrap {
    margin-top: 10px;
    flex: 1;
}

.infoTitle {
    margin:26px 10px 10px 0;
    font-size: 13px;
    font-weight: 700;
    color: #fffafa;;
}

.inputStyle {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
}

.alertMsgWarpForRegister {
    margin:27px 10px 10px 0;
    color: #ef0000;
    font-size: 11px;
}

.searchButtonForRegister {
    position: relative;
    left: 5px;
    bottom: 35px;
    display: flex;
    border: none;
    outline: none;
    width: 10%;
    font-size: larger;
    float: right;
    border: none;
    cursor: pointer;
    background-color: transparent;
}


.infoContent {
    width: 96%;
    height: 35px;
    display : flex;
    justify-content : left;
    align-items : center;
    background-color: #fffafa;
    border: none;
    border-radius: 8px;
    padding: 8px 10px; 
    font-size: 15px;
    font-weight: 600;
}

.infoAddress {
    width: 96%;
    height: 35px;
    background-color: #fffafa;
    border: none;
    border-radius: 8px;
    padding: 8px 10px; 
    font-size: 14px;
    font-weight: 600;
    display : flex;
    justify-content : center;
    align-items : center;
}

.infoTitle a {
    font-size: 10px;
    font-weight: 200;
    padding-left: 10px;
    color: #A9A9A9;
}

.imageContainer {
    width: 96%;
    height: 35px;
    padding: 8px 10px; 
    background-color: #fffafa;
    border: none;
    border-radius: 8px;
}

.imageInput {
    width: 100%;
    color: #554647;
    outline: none;
    padding-top: 7px;
    border: none;
    height: 25px;
    font-size: 14px;
    font-weight: 400;
}

.registerStoreButton {
    width: 48%;
    height: 48px;
    margin-top: 26px;
    border: none;
    font-weight: 700;
    background-color: #cd5c5c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.registerStoreButton:disabled {
    background-color: #dadada;
    color: white;
}
    