.storeDetail {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    height: 1000px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f3f3f3;

    overflow: scroll;

    display: flex;
    flex-direction: column;
}

.scrollInfo {
    overflow-y: scroll;
}

.storeDetailTitleWrap {
    position: relative;
    z-index: 999;
    margin: 60px 0 20px 50px;
    font-size: 29px;
    font-weight: 600;
    width: 100%;
    max-width: 400px;
    height: 100%;
    line-height: 85px;
    max-height: 200px;
    background-color: white;
    color: #212121;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0 4px 4px -4px black;
}

.storeDetailImage {
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: 998; 
    width: 100%;
    max-width: 540px;
    height: 250px;
    object-fit: fill;
}

.storeDetailImageDefault {
    background-color: #A9A9A9;
}


.storeDetailContainer {
    border-radius: 13px;
    position: relative;
    z-index: 999;
    color: black;
    background-color: white;
    height: 100%;
    max-height: 130px;
    padding: 20px 0 10px 20px; 
}

.storeDetailInfoTitle {
    font-size: 16px;
    font-weight: 700;
}

.storeDetailInfoWrap {
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-size: 12px;
    font-weight: 300;
}

.storeDetailInfoWrap svg {
    font-size: 15px;
    margin-right: 5px;
}

.imageInputContainer {
    border-radius: 13px;
    border: none;
    color: black;
    padding: 20px; 
    font-size: 16px;
    font-weight: 700;
    position: relative; 
    z-index: 999;
    margin-top: 10px;
    background-color: white;
    height: 250px; 
}

.imageInputContainer a {
    font-size: 10px;
    font-weight: 100;
    padding-left: 10px;
    color: #A9A9A9;
}

.imageContainer {
    background-color: #554647;
    margin-top: 10px;
}

.imageInput {
    width: 100%;
    max-width: 450px;
    color: white;
}

.registerStoreDetailButton {
    margin-top : 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #EBDBAC;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 48%;
    height: 50px;
    max-width: 500px;
    cursor: pointer;
}

.cancelRegisterButton {
    margin-top: 20px;
    float: right;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #EBDBAC;
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 48%;
    height: 50px;
    max-width: 500px;
    cursor: pointer;
}

.reviewInputContainer {
    border-radius: 13px;
    overflow-y: scroll;
    color: black;
    padding: 20px; 
    font-size: 16px;
    font-weight: 700;
    position: relative; 
    z-index: 999;
    margin-top: 10px;
    background-color: white;
    height: 335px;
}

.reviewForm {
    padding: 10px 0 0 0;
    height: 250px;
}

.reviewQuestion {
    font-size: 12px;
    font-weight: 400;
    padding: 40px 0 0 100px;
    margin-bottom: 20px;
    margin-left: 15%;
    color: white;
    position: relative;
    width: 250px;
    background: #554647;
    border-radius: 10px;
    white-space: nowrap;
}

.reviewQuestion:after {
    border-top: 15px solid #554647;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}

.reviewQuestion span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.reviewInput {
    margin-top: 20px;
    height: 90px;
    width: 100%;
    max-width: 450px;
    border: 1px solid #EAE7E7;
}

.reviewInput::placeholder {
    font-size: 10px;
    font-weight: 200;
    padding-left: 10px;
}

.radioButtonWrap {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
}

.radioButton {
    width: 18%;
    flex: 0 0 19%; 
    height: 20px;
    border: 1px solid #EAE7E7;
    border-radius: 10px;
    margin-bottom: 5px;
    box-sizing: border-box; 
}

.radioButton input[type=checkbox] {
    display: none;
}

.radioButton label {
    display: block;
    font-weight: 200;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 20px;
    font-size: 8px;
}

.radioButton input[type=checkbox]:checked + label {
    background: #cd5c5c;
    color: #fff;
}

.radioButton label:hover {
    background-color: #cd5c5c;
    color: #fff;
}

.reviewSubmitButton {
    width: 10%;
    height: 23px;
    margin: 13px 0 15px 0;
    border: none;
    font-weight: 400;
    font-size: 12px;
    color: #554647;
    border: 1px solid #EAE7E7;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    /* background-color: #554647; */
}

.reviewSubmitButton:hover {
    background-color: #554647;
    color: #fff;
}

.reviewListContainer {
    border-radius: 13px;
    color: black;
    /* padding: 20px 0 0 20px;  */
    position: relative;
    z-index: 999;
    margin: 10px 0 20px 0;
    background-color: white;
    height: 500px;
    overflow-y: scroll;
}

.reviewListTitle {
    padding: 20px 0 0 20px; 
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 700;
}

a {
    font-size: 10px;
    font-weight: 100;
    padding-left: 10px;
    color: #A9A9A9;
}

.noReivewWrap {
    left: 50%;
    transform: translate(0, 200%);
    text-align: center;
    color: #A9A9A9;
    font-size: 13px;
}
.zeroDrinkRankWrap {
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
}

.zeroDrinkRank {
    display: flex;
    align-items: flex-end;
}

.rankWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rankIconWrap {
    font-size: 10px;
    margin-bottom: 5px;
    font-weight: 200x;
}

.rank1, .rank2, .rank3 {
    background-color: #EBDBAC;
    color: white;
    font-weight: bold;
    margin: 0; 
}

.rank1 {
    font-size: 63px;
    padding: 15px 20px 0 20px;
}

.rank2 {
    font-size: 40px;
    padding: 10px 20px 5px 20px;
}

.rank3 {
    font-size: 30px;
    padding: 8px 20px 5px 20px;
}

.rankIcon {
    width: 20px;
    height: 37px;
}

.review {
    width: 100%;
    max-width: 480px;
    margin: 10px 20px 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.review-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nickname {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}

.zero-drink-icons {
    display: flex;
    align-items: center;
}

.zero-drink-icon {
    margin-right: 5px;
}

.zero-drink-icon img {
    width: 10px;
    height: 20px;
}

.review-content {
    font-size: 11px;
    line-height: 1.5;
}

hr {
    margin: 0;
}