.loginPage {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
  
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F7F7F7;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.loginTitleWrap {
    margin: 87px 0 0 0;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
}

.loginContentWrap {
    margin-top: 26px;
    flex: 1;
}

.loginInputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
}

.loginInputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.loginInputWrap:focus-within {
    border: 1px solid #cd5c5c
}

.loginInput {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.loginInput::placeholder {
    color: #dadada;
}

.loginErrorMsgWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

.loginButton {
    width: 48%;
    height: 48px;
    margin-top: 26px;
    border: none;
    font-weight: 700;
    background-color: #cd5c5c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.loginButton:disabled {
    background-color: #dadada;
    color: white;
}

.signUpButton {
    width: 48%;
    height: 48px;
    margin-top: 26px;
    float: right;
    border: none;
    font-weight: 700;
    background-color: #cd5c5c;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


