.App {
  /* text-align: center; */
  width: 100%;
  height: auto;
}

.servicesBox {
  /* text-align: center;
  z-index: 2000;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 71%;
  height: 90px;
  display: flex;
  font-size: 20px;
  color: grey; */
  text-align: center;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 540px;
  height: 60px;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  border: none;
}

.chatService {
  flex: 1;
  border-right: 1px solid #e2e0e0;
  padding-top: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: #262626;

}
.chatService:hover {
  background-color: lightgoldenrodyellow;
}

.mapService {
  flex: 1;
  border-right: 1px solid #e2e0e0;
  padding-top: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: #262626;
}
.mapService:hover {
  background-color: lightgoldenrodyellow;
}

.loginService {
  flex: 1;
  padding-top: 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: white;
  color: #262626;

}
.loginService:hover {
  background-color: lightgoldenrodyellow;
}