body {
  margin: 0;
  font-family: PretendardVariable;
}

@font-face {
  font-family: 'PretendardVariable';
  src: url('../public/fonts/PretendardVariable.ttf') format('truetype');
  font-style: normal;
}

